<style>
  p {
    color: #000;
    font-weight: bold;
  }
  .contenido2 {
    padding-top: 44px;
  }
  img {
    width: 100%;
  }
  .bordes {
    margin: 0 10px;
  }
  td, th {
    border: solid 1px #000;
    //color: #000;
    font-size: 15px;
    padding: 6px 7px;
    text-align: center;
  }
  .azul {
    background-color: #002c5f;
    color: #fff;
  }
</style>
 <header class="bar bar-nav">
  <a href="#/tumazda" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Calibración de llantas</h1>
</header>
<div class="contenido2">
  <img src="img/tumazda/Calibracion-de-llantas.jpg" alt="imagen de portada">
 <div class="bordes">
    <p>En la siguiente tabla puedes verificar la calibración correcta para inflar las llantas de tu carro:</p>
    <table>
    <tr class="azul">
      <th>Dimensiones de la llanta</th>
      <th>Delantera</th>
      <th>Trasera</th>
    </tr>
    <tr>
      <td>185/165 R15</td>
      <td>29</td>
      <td>33</td>
    </tr>
    <tr class="azul">
      <td>225/50 R16</td>
      <td>26</td>
      <td>32</td>
    </tr>
    <tr>
      <td>205/60 R15</td>
      <td>28</td>
      <td>32</td>
    </tr>
    <tr class="azul">
      <td>205/55 R16</td>
      <td>32</td>
      <td>38</td>
    </tr>
    <tr>
      <td>235/45 R17</td>
      <td>33</td>
      <td>33</td>
    </tr>
    <tr class="azul">
      <td>245/55 R16</td>
      <td>30</td>
      <td>33</td>
    </tr>
    <tr>
      <td>255/55 R16</td>
      <td>41</td>
      <td>41</td>
    </tr>
  </table>   
 </div>
</div>
