<style>
  p {
    color: #000;
    font-weight: bold;
  }
  .contenido2 {
    padding-top: 44px;
  }
  img {
    width: 100%;
  }
  .bordes {
    margin: 0 15px;
  }
</style>
<header class="bar bar-nav">
  <a href="#/tumazda" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Carga de batería</h1>  
</header>

<div class="contenido2">
  <img src="img/tumazda/Carga-de-bater%C3%ADa.jpg" alt="imagen de portada">
<div class="bordes">
  <p>Para realizar la carga de batería necesitas lo siguiente:</p>
  <a class="thumbnail fancybox" href="img/tumazda/Carga-de-bater%C3%ADa.png" id="image">
    <img src="img/tumazda/Carga-de-bater%C3%ADa.png" rel="ligthbox" alt="imagen de bateria">
  </a>
  <p>En la siguiente imagen puedes observar cómo se conectan los <b>cables pasacorriente</b> en cada batería respectivamente (toca la imagen para ampliar).</p>
  <a class="thumbnail fancybox" href="img/tumazda/Carga-de-bateria1.jpg" id="image">
    <img src="img/tumazda/Carga-de-bateria1.jpg" rel="ligthbox" alt="imagen de bateria">
  </a>
</div>
</div>
