<style>
  p {
    color: #000;
    font-weight: bold;
  }
  .contenido2 {
    padding-top: 50px;
  }
  img {
    width: 100%;
  }
  .bordes {
    margin: 0 10px;
  }
</style>
<header class="bar bar-nav">
  <a href="#/tumazda" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Símbolos de advertencia</h1>
</header>
<div class="contenido2">
<div class="bordes">
<p>A continuación te presentamos los <b>símbolos de advertencia</b> más importantes del tablero de tu automóvil que debes conocer.</p>
  <img src="img/tumazda/S%C3%ADmbolos-de-advertencias.png" rel="ligthbox" alt="imagen de bateria">
</div>
  
</div>
