<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Tu Hyundai</h1>
</header>
<div class="contenido rojo" style="">
<img src="img/banner-precios.jpg" style="width: 100%; display: block;">
<div class="bar bar-standard" id="precios_header">
  <div class="segmented-control">
    <a class="control-item" href="#precios" style="white-space: normal">MANTENIMIENTO</a>
    <a class="control-item" href="#precios" style="white-space: normal">GARANTÍA EXTENDIDA</a>
    <a id="menuTerco" class="control-item" href="#tumazda" style="white-space: normal">INFORMACIÓN IMPORTANTE</a>
    </div>
</div>
<!--div class="contenido"-->
  <ul class="table-view" style="margin-top: 0; padding-top: 0;">
    <li class="table-view-cell media">
  	  <a class="navigate-right" href="#cambiollantas">
        <div class="media-body">
    		  <strong>Pasos para Cambio de Llantas</strong>
  	  </div>
  	  </a>
    </li>
    <li class="table-view-cell media">
  	  <a class="navigate-right" href="#cargabateria">
        <div class="media-body">
    		  <strong>Carga de Batería</strong>
  	  </div>
  	  </a>
    </li>
    <li class="table-view-cell media">
  	  <a class="navigate-right" href="#calibracionllantas">
        <div class="media-body">
    		  <strong>Calibración de Llantas</strong>
  	  </div>
  	  </a>
    </li>
    <li class="table-view-cell media">
  	  <a class="navigate-right" href="#simbolos">
        <div class="media-body">
    		  <strong>Símbolos de Advertencias</strong>
  	  </div>
  	  </a>
    </li>
    <li class="table-view-cell media">
  	  <a class="navigate-right" href="#mazdatips">
        <div class="media-body">
    		  <strong>#MazdaTips</strong>
  	  </div>
  	  </a>
    </li>
  </ul>
</div>
</div>
