<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Emergencias</h1>
</header>

<div class="content rojo">
<div id="page_banner">
	<img src="img/banner-emergencias.jpg" style="display: block;">
</div>

<ul class="table-view">
  <li class="table-view-cell media">
    <a href="tel:018002886700" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/qualitas-icono.png">
      <div class="media-body">Qualitas</div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="tel:018008343400" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/aba-icono.png">
      <div class="media-body">ABA</div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="tel:065" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/cruz-roja-icono.png">
      <div class="media-body">Cruz Roja</div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="tel:066" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/cdee-icono.png">
      <div class="media-body">Centro de Emergencias Estatal</div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="tel:81259404" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/policia-y-transito-icono.png">
      <div class="media-body">Policía y Tránsito</div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="tel:83439530" class="navigate-right">
      <img class="icono media-object pull-left" src="img/emergencias/proteccion-civil-icono.png">
      <div class="media-body">Protección Civil del Estado</div>
    </a>
  </li>
</ul>
</div>