<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Precios</h1>
</header>
<div class="content citas rojo" style="">
	<div class="contenedor">

		<h2 class="titulo_barra">Garantía Extendida | Características y Beneficios</h2>

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). 

		•Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Contarás con la asistencia vial las 24 horas durante los 365 días del año en todo el territorio nacional. 

		•Todas las reparaciones durante la cobertura serán en Concesionarios Autorizados Suzuki. 

		•Instalación de refacciones originales y mano de obra calificada. Mayor valor de reventa.

		•Sin límite de eventos para reparaciones.

		•Cobertura Oro: Suspensión delantera, aire acondicionado, motores de vidrios y seguros, transmisión, tracción delantera, tracción trasera, dirección, frenos, motores de limpiadores, frenos ABS, cuadro de instrumentos, Motor, sistema de inyección de combustible, sistema eléctrico.

		•Cobertura con asistencia vial: Remolque al Concesionario Autorizado SUZUKI más cercano, paso de corriente, reabastecimiento de gasolina, aceite, etc. (1), cambio de llanta por la de refacción (1), apertura de unidad por olvido de llaves (1), transportación a residencia habitual (1), reembolso por gastos de hotel (2), renta de vehículo sustituto (3), regreso o continuación de viaje (3), referencia de Concesionarios Autorizados SUZUKI.



		*(1) Aplican restricciones. (2) Hasta tres noches de hotel por evento. Hasta dos eventos por año. (3) Hasta dos eventos por año.

		*Exclusiones: Servicios de afinación, lubricantes, líquidos, bolsas de aire y sistemas implicados, gomas de limpiadores, llantas, amortiguadores, alineación, balanceo, discos y pastas del embrague, accesorios, partes estéticas, batería, radio, faros, lámparas y luces, vestiduras, alfombras, molduras, pintura, cromado, desperfectos en la carrocería o soldaduras estructurales, reparaciones para mejorar el desempeño o el funcionamiento causados por el uso y desgaste normal de vehículo, rotura o fallas mecánicas por colisión.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		CIAZ

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $11,635.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		SWIFT

		Vehículos nuevos: $8,275.00

		Vehículos seminuevos: $11,187.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		SWIFT SPORT

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $11,635.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		SX4

		MODELOS X-OVER & SEDÁN

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $11,635.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		S-CROSS

		MODELOS AWD

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $14,721.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		NUEVA VITARA

		MODELOS AWD

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $14,721.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		GRAND VITARA

		MODELOS AWD

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $14,721.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>

		KIZASHI

		MODELOS AWD

		Vehículos nuevos: $8,723.00

		Vehículos seminuevos: $14,721.00

		La Garantía Extendida es un contrato que extiende el tiempo que dura la garantía de tu vehículo cuando concluye la que te ofrece Suzuki Motor de México (tres años o 60,000 Km). Esta garantía protege tu vehículo de forma limitada hasta por seis años o 125,000 Km, lo que ocurra primero. 

		•Vehículos nuevos: Se consideran autos nuevos, aquellos vehículos que estén de 0 a10,000 km y de 0 a 6meses, lo que ocurra primero.

		•Vehículos seminuevos: Se consideran autos usados, los que estén de 10,001 a 50,000 km y de 6.1 a 30 meses, lo que ocurra primero.

		*Precios sugeridos con IVA incluido, sujetos a cambio sin previo aviso. Sólo pagas $550.00 pesos más IVA por evento.

		<hr>
	</div>

</div>