<div id="home">
	<div id="aldorf_logo" ng-click="logout()">
		<img src="img/logo.png">
	</div>
	<div id="home_menu">
		<div class="menu">
			<a href="{{link_citas}}" style="background-image: url(img/menu-citas.jpg);">Cita de Servicio</a>
			<a href="tel:018004986324" style="background-image: url(img/menu-telefono-asistencia.jpg);">Tel. Asistencia</a>
			<a href="#precios" style="background-image: url(img/menu-precios.jpg);">Precios</a>
			<a href="#ubicaciones" style="background-image: url(img/menu-ubicaciones.jpg);">Ubicaciones</a>
			<a href="#emergencias" style="background-image: url(img/menu-emergencias.jpg);">Emergencias</a>
		</div>
	</div>
</div>