<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Ubicaciones</h1>
</header>

<div class="content rojo">
<div id="page_banner">
	<img src="img/banner-ubicaciones.jpg" style="display: block;">
</div>

<ul class="table-view">
  <li class="table-view-cell media">
    <a href="https://goo.gl/maps/sCzGe6SV94r" class="navigate-right">
      <img class="icono media-object pull-left" src="img/icono-ubicaciones.png">
      <div class="media-body"><h3>Hyundai Cumbres</h3><strong>T. 01 (81) 2088-0000</strong><br><strong style="color: #000;">www.hyundaicumbres.mx</strong><br><strong>Dirección:</strong> Av. Paseo de los Leones 9000, Puerta de Hierro Cumbres, 64361 Monterrey, N.L., México<br></div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="https://goo.gl/maps/gnJFQNyzvEk" class="navigate-right">
      <img class="icono media-object pull-left" src="img/icono-ubicaciones.png">
      <div class="media-body"><h3>Hyundai Tampico</h3><strong>T. 01 (833) 228-7838</strong><br><strong style="color: #000;">www.hyundaitampico.com.mx</strong><br><strong>Dirección:</strong> Av Hidalgo 6200, Aeropuerto, 89337 Tampico, Tamps., México<br></div>
    </a>
  </li>
</ul>
</div>