<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Ubicaciones</h1>
</header>

<div class="content">
<div id="page_banner">
	<img src="img/imagen-superior.jpg">
</div>

<ul class="table-view">
  <li class="table-view-cell media">
    <a href="maps://?ll=25.7316974,-100.4016098&q=Mazda+Cumbres" class="navigate-right">
      <img class="icono media-object pull-left" src="img/iconoubicacionapp.png">
      <div class="media-body"><h3>Mazda Cumbres</h3><strong>T. 01 (81) 8073-0000</strong><br><strong style="color: #000;">www.mazdacumbres.com.mx</strong><br><strong>Dirección:</strong> Av. Paseo de los Leones No. 101 B, Cumbres Mediterráneo, 64619 Monterrey, N.L., Mexico<br></div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="maps://?ll=25.6785389,-100.3546372&q=Mazda+Gonzalitos" class="navigate-right">
      <img class="icono media-object pull-left" src="img/iconoubicacionapp.png">
      <div class="media-body"><h3>Mazda Gonzalitos</h3><strong>T. 01 (81) 8073-9000</strong><br><strong style="color: #000;">www.mazdagonzalitos.com.mx</strong><br><strong>Dirección:</strong> Av. José Eleuterio González 296, San Jerónimo, 64640 Monterrey, N.L., Mexico<br></div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="maps://?ll=25.6534423,-100.344377&q=Mazda+Valle+Ote" class="navigate-right">
      <img class="icono media-object pull-left" src="img/iconoubicacionapp.png">
      <div class="media-body"><h3>Mazda Valle Ote</h3><strong>T. 01 (81) 8073-8000</strong><br><strong style="color: #000;">www.mazdavalle.com.mx</strong><br><strong>Dirección:</strong> AV Vasconcelos 220-1 Residencial San Agustín 20 Sector, 66260 San Pedro Garza, N.L., Mexico<br></div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="maps://?ll=25.6934327,-100.2454195&q=Mazda+Lindavista+Mty" class="navigate-right">
      <img class="icono media-object pull-left" src="img/iconoubicacionapp.png">
      <div class="media-body"><h3>Mazda Lindavista Mty</h3><strong>T. 01 (81) 8232-0000</strong><br><strong style="color: #000;">www.mazdalindavista.com.mx</strong><br><strong>Dirección:</strong> Av. Miguel Alemán 5301 – A, Libertad Guadalupe, 67130 Guadalupe, N.L., Mexico<br></div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a href="maps://?ll=25.6785814,-100.3699581&q=Collision+Center" class="navigate-right">
      <img class="icono media-object pull-left" src="img/iconoubicacionapp.png">
      <div class="media-body"><h3>Collision Center</h3><strong>T. 01 (81) 8073-0100</strong><br><strong>Dirección:</strong> Av. gral. Pablo González Garza 301, Chepevera, 64030 Monterrey, N.L., Mexico<br></div>
    </a>
  </li>
</ul>
</div>