<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Citas Hyundai Aldorf</h1>
</header>

<div class="content citas">
	<div class="contenedor">
		Por favor accede o regístrate para poder agendar tu cita de servicio, a través del siguiente sistema tu visita quedará programada de manera oficial el día y hora indicados.<br><br>
		<div id="form_login"class="card">
			<input type="text" placeholder="email" ng-model="correo">
			<input type="password" ng-model="contrasena" placeholder="contraseña">
			<div class="text-center">
				<button class="btn btn-block btn-primary" ng-click="ingresar()">Ingresar</button>
			</div>
		</div>
		<div class="text-center"><br>
      <a style="color: white" href="#registro"><button class="btn btn-block btn-primary">Registrarse</button></a>
			<a style="color: white" href="#olvide_contrasena"><button class="btn btn-block btn-primary">Olvidé mi contraseña</button></a>
		</div>
	</div>
</div>
