<header class="bar bar-nav">
  <a href="#/" class="icon icon-left-nav pull-left"></a>
  <h1 class="title">Registrar Usuario</h1>
</header>

<div class="content citas">
	<div class="contenedor">
			<h4>Recuperación de contraseña</h4>
			Por favor ingresa el correo electrónico que usaste para registrarte en nuestro sistema de citas o <a href="#restablecer_contrasena">ingresa tu clave</a> que recibiste por correo electrónico.<br><br>
			<input type="text" ng-model="email" class="form-control" placeholder="email">
			<p class="text-right"><button class="btn btn-block btn-warning" ng-click="recuperar()">Solicitar Clave</button></p>
	</div>
</div>