/*
Mazda App
*/
/* line 6, ../sass/App.scss */
body, .content, body > .container {
  width: 100%;
  height: 100%;
  background: #E4DBD2;
}
/* line 10, ../sass/App.scss */
body .body_padding, .content .body_padding, body > .container .body_padding {
  padding-top: 44px;
}
/* line 13, ../sass/App.scss */
body a, .content a, body > .container a {
  color: #002c5f;
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
/* line 32, ../sass/App.scss */
#precios_header {
  position: relative !important;
}

/* line 35, ../sass/App.scss */
.container.ng-enter {
  animation: fadeIn 0.3s both ease-in;
  z-index: 99999;
}

/* line 36, ../sass/App.scss */
.container.ng-leave {
  animation: fadeOut 0.3s both ease-in;
  z-index: 88888;
}

/* Style Tables */
/* line 38, ../sass/App.scss */
.table-view {
  border: none;
  background: none;
}
/* line 41, ../sass/App.scss */
.table-view .media-object.icono {
  max-width: 40px;
}
/* line 44, ../sass/App.scss */
.table-view .table-view-cell {
  border-top: solid #FFF 1px;
  color: #444;
}
/* line 45, ../sass/App.scss */
.table-view .table-view-cell:nth-child(odd) {
  background: white;
}
/* line 48, ../sass/App.scss */
.table-view .table-view-cell:nth-child(even) {
  background: #E4DBD2;
}
/* line 53, ../sass/App.scss */
.table-view .table-view-cell .contrasenas {
  margin: 5px;
}
/* line 56, ../sass/App.scss */
.table-view .table-view-cell a:not(.btn) {
  color: #444;
}
/* line 58, ../sass/App.scss */
.table-view .table-view-cell a:not(.btn):active, .table-view .table-view-cell a:not(.btn).active {
  background: rgba(255, 255, 255, 0.3);
  color: #808080;
}
/* line 62, ../sass/App.scss */
.table-view .table-view-cell a:not(.btn).active {
  color: #444;
}
/* line 66, ../sass/App.scss */
.table-view .table-view-cell > .btn.nofloat {
  float: none;
  position: static;
  display: inline-block;
}
/* line 71, ../sass/App.scss */
.table-view .table-view-cell > a.navigate-right:after {
  color: #FFF;
}
/* line 75, ../sass/App.scss */
.table-view .table-view-divider {
  background: #ab8f72;
  color: #FFF;
}
/* line 79, ../sass/App.scss */
.table-view table {
  width: 100%;
  text-align: center;
}
/* line 82, ../sass/App.scss */
.table-view table thead th {
  background: #002c5f;
  padding: 5px 0;
  font-size: 14px;
}
/* line 87, ../sass/App.scss */
.table-view table td {
  padding: 5px;
  border: solid 1px #000913;
}
/* line 91, ../sass/App.scss */
.table-view table td:first-child {
  background: #002c5f;
  color: #FFF;
}
/* line 96, ../sass/App.scss */
.table-view.dark .table-view-cell {
  background: #FFF;
  border-color: #CCC;
  color: #555;
}
/* line 100, ../sass/App.scss */
.table-view.dark .table-view-cell.table-view-divider {
  background: #E4DBD2;
  color: #FFF;
}
/* line 104, ../sass/App.scss */
.table-view.dark .table-view-cell a:not(.btn) {
  display: inline;
  color: #E4DBD2;
}
/* line 107, ../sass/App.scss */
.table-view.dark .table-view-cell a:not(.btn):active, .table-view.dark .table-view-cell a:not(.btn).active {
  background: none;
  color: white;
}

/* line 114, ../sass/App.scss */
.contenido {
  padding-top: 44px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* line 119, ../sass/App.scss */
.card {
  background: #ab8f72;
  color: #FFF;
  padding: 5%;
  border-color: white;
}

/* line 125, ../sass/App.scss */
.bar {
  background: #002c5f;
}
/* line 127, ../sass/App.scss */
.bar.bar-header-secondary {
  background: black;
}
/* line 130, ../sass/App.scss */
.bar.ios7 {
  padding-top: 20px;
}
/* line 133, ../sass/App.scss */
.bar .title {
  color: #FFF;
}
/* line 136, ../sass/App.scss */
.bar .icon {
  color: #FFF;
}
/* line 139, ../sass/App.scss */
.bar div.segmented-control {
  border-color: #002c5f;
}
/* line 142, ../sass/App.scss */
.bar a.control-item {
  color: #FFF;
  border-color: #002c5f;
}
/* line 146, ../sass/App.scss */
.bar a.control-item.active {
  background: #000;
}

/* line 150, ../sass/App.scss */
#precios_header {
  padding: 0;
}
/* line 152, ../sass/App.scss */
#precios_header .segmented-control {
  height: 44px;
  top: 0;
  border: 0;
}
/* line 156, ../sass/App.scss */
#precios_header .segmented-control a {
  padding: 10px 0 0 0;
  //line-height: 44px;
  border: 0;
}

/* line 164, ../sass/App.scss */
#page_banner img {
  max-width: 100%;
}

/* line 168, ../sass/App.scss */
#home {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 101% auto;
}

/* line 174, ../sass/App.scss */
#aldorf_logo {
  padding-top: 22%;
  text-align: center;
}
/* line 177, ../sass/App.scss */
#aldorf_logo img {
  max-width: 75%;
}

/* line 181, ../sass/App.scss */
#suzuki_logo {
  position: absolute;
  top: 40px;
  left: 20px;
}
/* line 185, ../sass/App.scss */
#suzuki_logo img {
  max-width: 25%;
}

/* line 189, ../sass/App.scss */
#carro_swift {
  width: 80%;
  display: block;
  margin: -20px auto;
}

/* line 194, ../sass/App.scss */
#home_menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: .8em;
}
/* line 199, ../sass/App.scss */
#home_menu div.menu {
  position: absolute;
  width: 100%;
  bottom: 15%;
}
/* line 204, ../sass/App.scss */
#home_menu a {
  display: block;
  width: 100%;
  background-size: cover;
  padding: 20px 0;
  text-align: left;
  font-size: 1.3em;
  color: #FFF;
  text-indent: 40px;
  border-top: solid 1px #E4DBD2;
}
/* line 214, ../sass/App.scss */
#home_menu a:after, #home_menu a:before {
  display: block;
  position: absolute;
  content: '';
  height: 15px;
  margin: -5px;
  background: #FFF;
  width: 2px;
  right: 40px;
  transform: rotate(45deg);
}
/* line 225, ../sass/App.scss */
#home_menu a:before {
  margin-top: 1px;
  transform: rotate(-45deg);
}
/* line 229, ../sass/App.scss */
#home_menu a:after {
  margin-top: -10px;
}
/* line 232, ../sass/App.scss */
#home_menu a:hover, #home_menu a:active {
  background: #002c5f !important;
}
/* line 235, ../sass/App.scss */
#home_menu a img {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  margin: 0 30px 0 10px;
}

/* line 243, ../sass/App.scss */
.text-center {
  text-align: center;
}

/* line 246, ../sass/App.scss */
.table {
  width: 100%;
}
/* line 248, ../sass/App.scss */
.table.table-striped td {
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

/* line 253, ../sass/App.scss */
.caja {
  padding: 10px;
  color: #222;
  border-radius: 10px;
}

/* line 256, ../sass/App.scss */
#garentiaextendida {
  line-height: 50px;
  background: #002c5f;
  color: #FFF;
  display: block;
  text-align: center;
}
/* line 262, ../sass/App.scss */
#garentiaextendida:active {
  color: #FFF;
  background: #E4DBD2;
}

/* line 269, ../sass/App.scss */
.content.citas {
  background-size: cover;
  color: #777;
}
/* line 272, ../sass/App.scss */
.content.citas h2, .content.citas h3, .content.citas h4, .content.citas h5 {
  color: #002c5f !important;
}
/* line 275, ../sass/App.scss */
.content.citas .contenedor {
  color: #777;
  padding: 20px;
}
/* line 278, ../sass/App.scss */
.content.citas .contenedor input, .content.citas .contenedor select {
  color: #444;
}
/* line 282, ../sass/App.scss */
.content.citas .card {
  margin: 0;
  background: #FFF;
  border-color: #FFF;
  color: #666 !important;
}
/* line 288, ../sass/App.scss */
.content.citas .btn {
  background: #002c5f;
  border-color: #002046;
  color: #FFF;
}
/* line 293, ../sass/App.scss */
.content.citas .btn.naranja {
  background: #002c5f;
  border-color: #002046;
}

/* line 298, ../sass/App.scss */
.confirmacion_cita {
  text-align: center;
  color: #444;
}
/* line 301, ../sass/App.scss */
.confirmacion_cita img {
  max-width: 60%;
}
/* line 304, ../sass/App.scss */
.confirmacion_cita h4 {
  color: #E4DBD2;
}

.contenido2 {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
